/* Fixed floading header */
.floating-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #25303e;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 1000;
}

.floating-header a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.floating-header a:visited {
  text-decoration: none;
}

.floating-header a:hover {
  text-decoration: underline;
}

.floating-header span {
  color: #d0d0d0;
  padding-left: 5px;
  padding-right: 5px;
}

/* Main content */
.content {
  margin-top: 40px; /* Adjust to avoid content being hidden behind the fixed header */
  padding: 20px;
}

textarea {
  overflow-y: scroll;
}

div.status {
  padding: 5px;
  font-weight: bolder;
}
.down-arrow {
  height: 25px;
  margin-bottom: 15px;
}

#otelcol_send_status {
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}

#otel_input_send_status {
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}

.active {
  background-color: #1890ff;
  color: #ffffff;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #51368d;
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #25303e;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #message {
    font-size: 18px;
    color: #007BFF;
  }
  
  input {
    font-family: Roboto, sans-serif;
    border-radius: 7px;
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  .header-button {
    background-color: #1890ff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 5px;
    padding: 4px;
    vertical-align: middle;
  }

  .header-button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }

  /* buttons layout */
  .template-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 5px;
  }

  /* add hovering effect on buttons */
  .template-buttons > input:hover {
    background-color: #1890ff;
    color: #ffffff;
    cursor: pointer;
  }

  .template-buttons > input:disabled {
    color: #d0d0d0;
    cursor: not-allowed;
  }

  .template-buttons > div {
    flex: 1;
    /* all the elements vertically aligned in middle */
    display: flex;
    align-items: center;
  }
  .template-buttons h3 {
    margin-top: 0;
  }
  /* section */
  .template-section {
    display: flex;
    gap: 10px;
    margin: 0px;
  }
  .template-section > div {
    flex: 1;
    max-width: 33%;
  }

  .template-section-50 {
    display: flex;
    gap: 10px;
    margin: 0px;
  }
  
  .template-section-50 > div {
    flex: 1;
    max-width: 50%;
  }

  .template-section-100 {
    display: flex;
    gap: 10px;
    margin: 0px;
  }

  .template-section-100 > div {
    flex: 1;
    max-width: 100%;
  }

  .error {
    background-color: yellow;
    color: red;
    font-weight: bolder;
  }
  
  .edit-section {
    background-color: #f0f0f0;
    color: #51368d;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1890ff;
    margin: 5px;
  }

  .button-list button {
    background-color:#1890ff;
    color: white;
    border: none;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
  }

.info-outer-section, .openai-section {
  border-left: 1px solid #ccc; padding-left: 10px;
}

.info-outer-section {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  word-break: break-word;
}

.info-section {
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
  font-weight: normal;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 10px;
  min-height: 250px;
  max-height: 500px;
}

.info-section h1 {
  font-size: 1.6em;
}

.info-section h2 {
  font-size: 1.4em;
}

.info-section h3 {
  font-size: 1.3em;
}

.info-section h4 {
  font-size: 1.2em;
}

.info-section p {
  font-size: 1.0em;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  font-size: 0.9em;
  display: inline-block;
  max-width: 90%;
}

.chat-message-user {
  background-color: #1890ff;
  color: white;
  float: right;
  clear: both;
  text-align: right;
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 15px;
}

.chat-message-assistant {
  background-color: #E0E0E0;
  color: #808080;
  text-align: left;
  float: left;
  clear: both;
  font-size: 0.9em;
  font-weight: normal;
}

.chat-message-error {
  background-color: #f5ea53;
  border: 3px solid #808080;
  color: #000000;
  text-align: left;
  float: left;
  clear: both;
  font-size: 0.9em;
  font-weight: normal;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}